<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Page</title>
    <%- include("partials/header.ejs") %>
</head>
<%- include("partials/navbar.ejs") %>
<body>
    <h1>Explore Page</h1> <%= user %> 
    
    <% for (let i of rows) { %>
        <div class="explorePostSection">
            <h4><%=i.username%> reviewed: <%=i.title%> by: <%=i.author%></h4>
            <div class="reviewSection">
                <img src="<%=i.book_cover%>">
                <%=i.book_review%>
            </div>

            <details>
                <summary>View Book Description</summary>
                <p><%= i.description %></p>
            </details>
            <% if (i.username === user){ %>
                <details style="display: inline;">
                    <summary>Edit Review</summary>
                    <form class="editReviewForm">
                        Edit Author<input type="text" id="editAuthorInput" placeholder="Edit Author" value="<%=i.author%>">
                        Edit ISBN:<input type="text" id="editIsbnInput" placeholder="Edit ISBN" value="<%=i.isbn%>">
                        <br>Edit Review:<br><textarea id="editReviewInput" placeholder="Edit Review"></textarea><br>
                        <button type="submit">Save Changes</button>
                        <input type="hidden" class="bookId" value="<%=i.id%>">
                    </form>
                </details>
            <% } %>
        </div>    
    <% } %> 

    <%- include("partials/footer.ejs") %>
</body>
</html>